*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

#first{
    width: 80%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.images{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.images img{
    width: 30%;
}